<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Athletes</title>
</head>
<body>
    <header>
        <h1>Athletes</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home Page</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/season">Season</a></li>
            <li><a href="/league">League</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/athletes">Athletes</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <main>
        <h2>Athletes list</h2>
        <table>
            <thead>
                <tr>
                    <th>name</th>
                    <th>age</th>
                    <th>weight (kg)</th>
                    <th>tall (cm)</th>
                    <th>team</th>
                </tr>
            </thead>
            <tbody>
                {% for athlete in athletes %}
                <tr>
                    <td>{{ athlete[1] }}</td>
                    <td>{{ athlete[2] }}</td>
                    <td>{{ athlete[3] }}</td>
                    <td>{{ athlete[4] }}</td>
                    <td>{{ athlete[5] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <footer>
        <p>&copy; 2024 Football Website. All rights reserved.</p>
    </footer>
</body>
</html>
